.icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left top;
  vertical-align: text-bottom; }

.icon-pencil {
  background-image: url("/images/icons/pencil.png"); }

.icon-add {
  background-image: url("/images/icons/plus-button.png"); }

.icon-facebook {
  background-image: url("/images/icons/balloon-facebook.png"); }

.icon-outsidelink {
  background-image: url("/images/icons/globe--arrow.png"); }

/* Categories */
.icon-writer {
  background-image: url("/images/icons/user-gray-female.png"); }

.icon-challenge {
  background-image: url("/images/icons/book-open.png"); }

.icon-prompts {
  background-image: url("/images/icons/script.png"); }

/* NSFW */
.icon-NSFW {
  background-image: url("/images/icons/thermometer--exclamation.png"); }

.icon-SFW {
  background-image: url("/images/icons/thermometer-low.png"); }

.icon-Either {
  background-image: url("/images/icons/thermometer.png"); }

/* Active Status */
.icon-active {
  background-image: url("/images/icons/heart.png"); }

.icon-inactive {
  background-image: url("/images/icons/heart-break.png"); }

.icon-archive {
  background-image: url("/images/icons/heart-empty.png"); }

/* Flags */
.icon-goat {
  background-image: url("/images/icons/goat.png"); }

.icon-tick {
  background-image: url("/images/icons/tick.png"); }

.container {
  margin-top: 10px;
  margin-bottom: 60px; }

.NSFW {
  background-color: lavenderblush; }

.SFW {
  background-color: honeydew; }

.Either {
  background-color: #eee; }

.status_active {
  opacity: 1; }

.status_inactive {
  opacity: .75; }

.status_archive {
  opacity: .5; }

.table tbody tr.no-border {
  border-top: none; }
  .table tbody tr.no-border td {
    border-top: none; }

/*# sourceMappingURL=style.css.map */
