@import 'icons';

.container
{
  margin-top: 10px;
  margin-bottom: 60px;
}

.NSFW { background-color : lavenderblush; }
.SFW  { background-color: honeydew; }
.Either { background-color: #eee; }
.status_active { opacity: 1; }
.status_inactive { opacity: .75; }
.status_archive { opacity: .5; }

.table
{
  tbody
  {
    tr.no-border
    {
      border-top: none;
      td { border-top: none;}
    }

  }
}

